<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <script src="js/vue.js"></script>
    <script src="js/script.js"></script>
    <title>Title</title>
</head>
<body>
<div id="app">
    <!-- testValの内容を表示 -->
    {{ testVal }}
</div>
</body>
<script>
    const app = new Vue({
        el: '#app',
        data: {
            testVal: 'Hello World!'
        }
    });

    askRainlab();
</script>
</html>
